* {
  margin: 0;
}

.left{
  padding-top: 5rem;
  width: 15%;
  float: left;
  position: fixed;
}

.input-group{
  padding-left: 1rem;
  width: 90% !important;
  display: flex;
}

.list-after-login{
  width: 85%;
  float: right;
  padding-top: 5rem;
}

.list-before-login{
  padding-top: 5rem;
}

.list{
  padding-top: 5rem;
  display: flex;
  justify-content: space-around;
}

.filter{
  padding-left: 1rem;
  position: fixed;
  width: 15%;
}

.nav{
  position: fixed !important;
  width: 100%;
  z-index: 1;
}

.filter-select{
  width: 90%;
}

.same-line-card{
  display: inline-flex;
}

.col-3, .land-page-col, .fav-col{
  padding-bottom: 1rem;
}

.dog-info-card{
  padding-top: 5rem;
  display: flex;
  justify-content: space-around;
}

.login-form-div{
  padding-top: 15rem;
  width: 30% !important;
}